PY_IMAGE_DB_HOST=localhost
PY_IMAGE_DB_PORT=5433
PY_IMAGE_DB_NAME=wiki_images
PY_IMAGE_DB_USER=user
PY_IMAGE_DB_PASSWORD=change_me
PY_IMAGE_DATABASE_URL=postgresql://user:change_me@localhost:5433/wiki_images
PY_IMAGE_DOWNLOAD_BASE_URL=http://www.entropiawiki.com/images/gallery
PY_IMAGE_TELEGRAM_BOT_TOKEN=
PY_IMAGE_TELEGRAM_CHAT_ID=
