CREATE TABLE IF NOT EXISTS "ItemCategories" (

    "id" TEXT NOT NULL CONSTRAINT "PK_ItemCategories" PRIMARY KEY,

    "date_created" TEXT NOT NULL,

    "date_updated" TEXT NULL,

    "is_active" INTEGER NOT NULL,

    "name" TEXT NOT NULL

);
CREATE TABLE IF NOT EXISTS "user" (

    "id" TEXT NOT NULL CONSTRAINT "PK_user" PRIMARY KEY,

    "firstname" TEXT NOT NULL,

    "lastname" TEXT NOT NULL,

    "pseudo" TEXT NOT NULL,

    "password_hash" TEXT NOT NULL,

    "role" INTEGER NOT NULL,

    "date_created" TEXT NOT NULL,

    "date_updated" TEXT NULL,

    "is_active" INTEGER NOT NULL

);
CREATE TABLE IF NOT EXISTS "ItemTypes" (

    "id" TEXT NOT NULL CONSTRAINT "PK_ItemTypes" PRIMARY KEY,

    "category_id" TEXT NOT NULL,

    "date_created" TEXT NOT NULL,

    "date_updated" TEXT NULL,

    "is_active" INTEGER NOT NULL,

    "name" TEXT NOT NULL,

    CONSTRAINT "FK_ItemTypes_ItemCategories_category_id" FOREIGN KEY ("category_id") REFERENCES "ItemCategories" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "Items" (

    "id" TEXT NOT NULL CONSTRAINT "PK_Items" PRIMARY KEY,

    "image_url_id" TEXT NOT NULL,

    "value" decimal(10,5) NOT NULL,

    "is_limited" INTEGER NOT NULL,

    "item_type_id" TEXT NOT NULL,

    "date_created" TEXT NOT NULL,

    "date_updated" TEXT NULL,

    "is_active" INTEGER NOT NULL,

    "name" TEXT NOT NULL,

    CONSTRAINT "FK_Items_ItemTypes_item_type_id" FOREIGN KEY ("item_type_id") REFERENCES "ItemTypes" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "InventoryLots" (

    "id" TEXT NOT NULL CONSTRAINT "PK_InventoryLots" PRIMARY KEY,

    "quantity_remaining" INTEGER NOT NULL,

    "quantity_exported" INTEGER NOT NULL,

    "price_remaining" TEXT NOT NULL,

    "item_id" TEXT NOT NULL,

    "lot_type" INTEGER NOT NULL,

    "date_created" TEXT NOT NULL,

    "date_updated" TEXT NULL,

    "is_active" INTEGER NOT NULL,

    CONSTRAINT "FK_InventoryLots_Items_item_id" FOREIGN KEY ("item_id") REFERENCES "Items" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "Transactions" (

    "id" TEXT NOT NULL CONSTRAINT "PK_Transactions" PRIMARY KEY,

    "transaction_type" INTEGER NOT NULL,

    "sell_status" INTEGER NULL,

    "quantity" INTEGER NOT NULL,

    "tt_value" decimal(10,5) NOT NULL,

    "ttc_value" decimal(10,5) NOT NULL,

    "fee" decimal(10,5) NULL,

    "date_created" TEXT NOT NULL,

    "date_updated" TEXT NULL,

    "is_active" INTEGER NOT NULL,

    "item_id" TEXT NOT NULL,

    CONSTRAINT "FK_Transactions_Items_item_id" FOREIGN KEY ("item_id") REFERENCES "Items" ("id") ON DELETE CASCADE

);
CREATE TABLE IF NOT EXISTS "InventoryLotTransactions" (

    "inventory_lot_id" TEXT NOT NULL,

    "transaction_id" TEXT NOT NULL,

    "Quantity" INTEGER NOT NULL,

    CONSTRAINT "PK_InventoryLotTransactions" PRIMARY KEY ("inventory_lot_id", "transaction_id"),

    CONSTRAINT "FK_InventoryLotTransactions_InventoryLots_inventory_lot_id" FOREIGN KEY ("inventory_lot_id") REFERENCES "InventoryLots" ("id") ON DELETE RESTRICT,

    CONSTRAINT "FK_InventoryLotTransactions_Transactions_transaction_id" FOREIGN KEY ("transaction_id") REFERENCES "Transactions" ("id") ON DELETE RESTRICT

);
CREATE INDEX "IX_InventoryLots_item_id" ON "InventoryLots" ("item_id");
CREATE INDEX "IX_InventoryLotTransactions_transaction_id" ON "InventoryLotTransactions" ("transaction_id");
CREATE UNIQUE INDEX "IX_ItemCategories_name" ON "ItemCategories" ("name");
CREATE INDEX "IX_Items_item_type_id" ON "Items" ("item_type_id");
CREATE UNIQUE INDEX "IX_Items_name" ON "Items" ("name");
CREATE INDEX "IX_ItemTypes_category_id" ON "ItemTypes" ("category_id");
CREATE UNIQUE INDEX "IX_ItemTypes_name" ON "ItemTypes" ("name");
CREATE INDEX "IX_Transactions_item_id" ON "Transactions" ("item_id");
CREATE UNIQUE INDEX "IX_user_pseudo" ON "user" ("pseudo");
