# Test environment
DATABASE_URL=postgresql://postgres:postgres@localhost:5434/app_test
NODE_ENV=test

CORS_ORIGIN=http://localhost:3069
PORT=8020

JWT_ACCESS_SECRET=change_me_access_secret
JWT_ACCESS_EXPIRES_IN=24h

JWT_REFRESH_SECRET=change_me_refresh_secret
JWT_REFRESH_EXPIRES_IN=7d

SYSTEM_USER_ID=
SYSTEM_USER_PSEUDO=
SYSTEM_USER_EMAIL=
SYSTEM_USER_PASSWORD=

DEV_DATA_USER_ID=
DEV_DATA_USER_LOGIN=
DEV_DATA_USER_PASSWORD=
DEV_DATA_USER_EMAIL=

DEV_ADMIN_ID=
DEV_ADMIN_PSEUDO=
DEV_ADMIN_EMAIL=
DEV_ADMIN_PASSWORD=

