PY_IMAGE_DB_HOST=localhost
PY_IMAGE_DB_PORT=5433
PY_IMAGE_DB_NAME=wiki_images
PY_IMAGE_DB_USER=user
PY_IMAGE_DB_PASSWORD=change_me
PY_IMAGE_DATABASE_URL=postgresql://user:change_me@localhost:5433/wiki_images

# IMAGE SCRAP
PY_IMAGE_BASE_URL=http://www.entropiawiki.com/images/gallery

# WIKI SCRAP
PY_WIKI_BASE_URL=http://www.entropiawiki.com

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
